:root{
    --theme-color:#0aad0a;
    --hover-color:#088a08;
    --text-dark:#21313c;
    --p-color:#5c6c75;
    --tex-dark-sec:rgb(0 30 43);
    --bg-footr:#F0F3F2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter 24pt';
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-dark);
    font-size: 14px;
}
h2{
    color: var(--tex-dark-sec);
}
h1 , h3 , h4 , h5 , h6{
    color: var(--text-dark);
}
p{
    color: var(--p-color);
    font-size: 14px;
}
.w-5{
    width: 20%;
}
/* header */
header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
p a{
    color: var(--theme-color);
}
/* forget-p */
.forget-p h2{
    font-size: 28px;
}
.forget-p input , .forget-p input[type="checkbox"]{
    border: 1px solid rgb(227, 225, 225) !important;
}
.forget-p input::placeholder{
    font-size: 14px;
}
.forget-p input:focus{
    outline: none;
}
.form-check-input:checked {
    background-color: #0aad0a;
    border-color: #0aad0a;
}
.forget-p .forget-p-btn , .forget-p .forget-p-cancel-btn{
    background-color: var(--theme-color);
    border-radius: 10px;
}
.forget-p .forget-p-btn:hover{
    background-color: var(--hover-color) !important;
    transition-duration: 0.5s;
}
.forget-p .forget-p-cancel-btn{
    background-color: var(--bg-footr);
}
.forget-p .forget-p-cancel-btn:hover{
    background-color: var(--p-color) !important;
}
/* footer */
footer{
    background-color: var(--bg-footr);
}
footer h6{
    font-size: 15px;
}
footer a{
    color: var(--p-color);
}
footer a:hover{
    color: var(--hover-color);
    transition-duration: 0.5s;
}
.copiright p span a{
    color: var(--theme-color);
}