:root{
    --theme-color:#0aad0a;
    --hover-color:#088a08;
    --text-dark:#21313c;
    --p-color:#5c6c75;
    --tex-dark-sec:rgb(0 30 43);
    --bg-footr:#F0F3F2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter 24pt';
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-dark);
    font-size: 14px;
}
h2{
    color: var(--tex-dark-sec);
}
h3 , h4 , h5 , h6{
    color: var(--text-dark);
}
p{
    color: var(--p-color);
    font-size: 14px;
}
.w-5{
    width: 20%;
}
/* header */
header .header-top select{
    border: none;
    font-size: 14px;
    color: var(--p-color);
}
header .header-top select:hover{
    color: var(--theme-color) !important;
}
header .header-middle .header-search input{
    font-size: 14px;
    border: none;
    color: var(--p-color);
    width: 453px;
}
header .header-middle .header-search input:focus{
    outline: none !important;
}
header .header-middle .header-search form:hover {
    box-shadow: var(--theme-color) 0px 3px 8px;
}
header .header-middle ul li span{
    font-size: 10px;
    background-color: var(--theme-color);
    padding: 0px 4px;
}
header .header-middle ul li:nth-child(1) span{
    top: -2px;
    right: 12px;
}
header .header-middle ul li:nth-child(3) span{
    top: -2px;
    right: -6px;
}
header .header-main .header-main-button a{
    padding: 9px 24px;
    background-color: var(--theme-color);
}
header .header-main .header-main-button a:hover , header .header-main nav ul li a:hover{
    color: var(--hover-color);
}

/* wishlist */
.wishlist table tr td small{
    font-size: 12px !important;
    color: var(--p-color) !important;
}
.wishlist table tr td span{
    font-size: 10px;
}
.wishlist table tr td button{
    font-size: 12px;
    background-color: var(--theme-color);
    border: none;
}
.wishlist table tr td button:hover{
    background-color: var(--hover-color);
}
.form-check-input:checked[type=checkbox]{
    background-color: var(--theme-color) !important;
    border: none;
}


/* footer */
footer{
    background-color: var(--bg-footr);
}
footer h6{
    font-size: 15px;
}
footer a{
    color: var(--p-color);
}
footer a:hover{
    color: var(--hover-color);
    transition-duration: 0.5s;
}
.copiright p span a{
    color: var(--theme-color);
}